<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217006222986-fvf9nucalplj5ippui29qcb6qnspqjl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217006222986-fvf9nucalplj5ippui29qcb6qnspqjl2</string>
	<key>API_KEY</key>
	<string>AIzaSyCqanH3WGU3j8uqFbdejLGi8zO1NrAEY7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>217006222986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProject2</string>
	<key>PROJECT_ID</key>
	<string>flutterproject-da597</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterproject-da597.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217006222986:ios:400390ba91d05b3eb84773</string>
</dict>
</plist>